header {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: larger;
  background-color: grey;
}

.div-h1 {
  color: white;
  background-color: grey;
  text-align: center;
}
h1 {
  padding: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.container-img {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-fluid {
  padding: 5px;
  height: 55px;
  width: 60px;
}

/*body*/
.container-frontend {
  display: flex;
  justify-content: center;
}
.front-end-p {
  padding: 5px;
  color: white;
  font-size: large;
  font-weight: bold;
}
.navbar {
  font-size: larger;
  font-weight: bolder;

  padding: 5px;
  display: inline;
}
a {
  color: white;
}
main {
  background-color: brown;
}

.button-description-container {
  margin-left: 14px;
}
.btn-primary {
  margin: 10px;
}
/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  padding-top: 50px;
  background-color: blue;
}

h4 {
  margin: 10px;
  color: white;
  font-weight: bolder;
}

.img-fluid-contact {
  padding: 5px;
  height: 45px;
  width: 45px;
}
.accordion-button {
  font-weight: bold;
}
.accordion-button:hover {
  transform: scale(1.1);
}
